In [1]:
# Importing dependencies
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read CSV in and Perform Basic Data Cleaning

In [2]:
# Setting the Output column and variable columns
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [3]:
# Loading in the LoanStats Data
filePath = Path('LoanStats_2019Q1.csv')
# Creating dataframe from CSV contents
df = pd.read_csv(filePath, skiprows=1)[:-2]
df = df.loc[:, columns].copy()
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,20000.0,17.19%,499.10,RENT,47000.0,Source Verified,Mar-2019,Issued,n,14.02,...,98.0,12.5,0.0,0.0,75824.0,31546.0,33800.0,21524.0,N,N
1,21225.0,14.74%,502.05,MORTGAGE,225000.0,Not Verified,Mar-2019,Issued,n,16.80,...,100.0,50.0,1.0,0.0,747075.0,209426.0,53500.0,128175.0,N,N
2,5000.0,17.97%,180.69,MORTGAGE,62000.0,Not Verified,Mar-2019,Issued,n,19.82,...,66.7,50.0,0.0,0.0,255738.0,31615.0,9400.0,39938.0,N,N
3,20000.0,8.19%,628.49,MORTGAGE,200000.0,Not Verified,Mar-2019,Issued,n,22.66,...,95.7,22.2,0.0,0.0,448069.0,84744.0,49400.0,105180.0,N,N
4,12000.0,15.57%,289.09,MORTGAGE,49000.0,Source Verified,Mar-2019,Issued,n,13.47,...,86.1,14.3,0.0,0.0,189260.0,106025.0,24400.0,68860.0,N,N

In [4]:

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df.count()

loan_amnt                     115675
int_rate                      115675
installment                   115675
home_ownership                115675
annual_inc                    115675
                               ...
total_bal_ex_mort             115675
total_bc_limit                115675
total_il_high_credit_limit    115675
hardship_flag                 115675
debt_settlement_flag          115675
Length: 86, dtype: int64

In [5]:
# Dropping the null rows
df = df.dropna()
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,20000.0,17.19%,499.10,RENT,47000.0,Source Verified,Mar-2019,Issued,n,14.02,...,98.0,12.5,0.0,0.0,75824.0,31546.0,33800.0,21524.0,N,N
1,21225.0,14.74%,502.05,MORTGAGE,225000.0,Not Verified,Mar-2019,Issued,n,16.80,...,100.0,50.0,1.0,0.0,747075.0,209426.0,53500.0,128175.0,N,N
3,20000.0,8.19%,628.49,MORTGAGE,200000.0,Not Verified,Mar-2019,Issued,n,22.66,...,95.7,22.2,0.0,0.0,448069.0,84744.0,49400.0,105180.0,N,N
4,12000.0,15.57%,289.09,MORTGAGE,49000.0,Source Verified,Mar-2019,Issued,n,13.47,...,86.1,14.3,0.0,0.0,189260.0,106025.0,24400.0,68860.0,N,N
6,25000.0,7.02%,772.16,MORTGAGE,305000.0,Not Verified,Mar-2019,Issued,n,8.16,...,100.0,0.0,0.0,0.0,840287.0,65339.0,81000.0,38858.0,N,N

In [6]:
# Removing the "Issued" loan status
issuedMask = df['loan_status'] != "Issued"
df = df.loc[issuedMask]
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
93,10500.0,17.19%,375.35,RENT,66000.0,Source Verified,Mar-2019,Current,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
99,25000.0,20.00%,929.09,MORTGAGE,105000.0,Verified,Mar-2019,Current,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
132,20000.0,20.00%,529.88,MORTGAGE,56000.0,Verified,Mar-2019,Current,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
133,10000.0,16.40%,353.55,RENT,92000.0,Verified,Mar-2019,Current,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
140,22000.0,14.74%,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,Current,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [7]:
# Converting interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%','')
df['int_rate'] = df['int_rate'].astype('float') / 100

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
93,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,Current,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
99,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,Current,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
132,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,Current,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
133,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,Current,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
140,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,Current,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [8]:
# Converting the target column values to low_risk
x = {'Current': 'low_risk'}
df = df.replace(x)
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
93,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
99,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
132,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
133,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
140,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [9]:
# Converting the target column values to high_risk based on their values
x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')
df = df.replace(x)

# Checking our target columns value distribution
df.loan_status.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [10]:
df.reset_index(inplace=True,drop=True)
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [11]:
# Converting string columns to binary
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['home_ownership'] = le.fit_transform(df2['home_ownership'])

df2['verification_status'] = le.fit_transform(df2['verification_status'])

df2['issue_d_Mar2019'] = le.fit_transform(df2['issue_d'])

df2['pymnt_plan'] = le.fit_transform(df2['pymnt_plan'])

df2['initial_list_status'] = le.fit_transform(df2['initial_list_status'])

df2['next_pymnt_d'] = le.fit_transform(df2['next_pymnt_d'])

df2['application_type'] = le.fit_transform(df2['application_type'])

df2['hardship_flag'] = le.fit_transform(df2['hardship_flag'])

df2['debt_settlement_flag'] = le.fit_transform(df2['debt_settlement_flag'])
df2.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,3,66000.0,1,2,low_risk,0,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,0,0
1,25000.0,0.2000,929.09,1,105000.0,2,2,low_risk,0,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,0,0
2,20000.0,0.2000,529.88,1,56000.0,2,2,low_risk,0,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,0,0
3,10000.0,0.1640,353.55,3,92000.0,2,2,low_risk,0,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,0,0
4,22000.0,0.1474,520.39,1,52000.0,0,2,low_risk,0,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,0,0

# Splitting Data into Training and Testing Sets

In [12]:
# Creating variable data set
X = df2.drop(columns='loan_status', axis=1)

# Creating output data set (Target)
y = df['loan_status']
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,1.812779,8.821371e+04,0.669994,0.805542,0.0,21.778153,0.217766,...,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04,0.0,0.0
std,10277.348590,0.048130,288.062432,0.941313,1.155800e+05,0.719105,0.714932,0.0,20.199244,0.718367,...,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04,0.0,0.0
min,1000.000000,0.060000,30.890000,0.000000,4.000000e+01,0.000000,0.000000,0.0,0.000000,0.000000,...,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02,0.0,0.0
25%,9000.000000,0.088100,265.730000,1.000000,5.000000e+04,0.000000,0.000000,0.0,13.890000,0.000000,...,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04,0.0,0.0
50%,15000.000000,0.118000,404.560000,1.000000,7.300000e+04,1.000000,1.000000,0.0,19.760000,0.000000,...,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04,0.0,0.0
75%,24000.000000,0.155700,648.100000,3.000000,1.040000e+05,1.000000,1.000000,0.0,26.660000,0.000000,...,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04,0.0,0.0
max,40000.000000,0.308400,1676.230000,3.000000,8.797500e+06,2.000000,2.000000,0.0,999.000000,18.000000,...,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06,0.0,0.0

In [13]:
# Checking our target columns value distribution
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

# Splitting data into training and testing sets
XTrain, XTest, yTrain, yTest = train_test_split(X,
                                                y,
                                                random_state=1,
                                                stratify=y
                                                )
XTrain.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
39692,10000.0,0.1131,328.86,1,49000.0,1,1,0,24.54,0.0,...,100.0,0.0,1.0,0.0,309140.0,56262.0,9500.0,54197.0,0,0
37830,21000.0,0.1072,684.74,3,57400.0,0,1,0,34.52,0.0,...,100.0,0.0,0.0,0.0,98100.0,35707.0,64700.0,30000.0,0,0
64531,35000.0,0.0881,1109.90,2,180000.0,0,1,0,3.01,0.0,...,94.7,0.0,0.0,0.0,327877.0,1222.0,41500.0,26177.0,0,0
28730,20000.0,0.0819,628.49,2,80000.0,1,0,0,26.51,0.0,...,90.0,0.0,0.0,0.0,143541.0,81162.0,14500.0,111641.0,0,0
35102,12600.0,0.1356,427.96,1,71000.0,1,0,0,22.38,1.0,...,88.9,0.0,0.0,0.0,316682.0,33433.0,26500.0,50182.0,0,0

# Random Oversampling

In [15]:
from imblearn.over_sampling import RandomOverSampler
# Instantiating RandomOverSampler
ros = RandomOverSampler(random_state=1)

# fitting and resampling
XResampled, yResampled = ros.fit_resample(XTrain, yTrain)


# Checking the outputs resampled value count
Counter(yResampled)

Counter({'low_risk': 51352, 'high_risk': 51352})

In [16]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(XResampled, yResampled)

LogisticRegression(random_state=1)

In [17]:
# Calculating the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

yPred = model.predict(XTest)
balanced_accuracy_score(yTest,yPred)

0.6286647247704574

In [38]:
# Creating confusion matrix
from sklearn.metrics import confusion_matrix
pd.DataFrame(confusion_matrix(yTest,yPred),index=['Actually True', 'Actually False'], columns=['Predicted True', 'Predicted False'])

                Predicted True  Predicted False
Actually True               54               33
Actually False            6220            10898

In [19]:
# Printing the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(yTest,yPred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.62      0.64      0.02      0.63      0.39        87
   low_risk       1.00      0.64      0.62      0.78      0.63      0.40     17118

avg / total       0.99      0.64      0.62      0.77      0.63      0.40     17205

# SMOTE
### An oversampling technique that generates synthetic samples from the minority class

In [20]:
from imblearn.over_sampling import SMOTE

# Using SMOTE to create our datasets (variables and target) of equal size
XResampledSMOTE, yResampledSMOTE = SMOTE(random_state=1,
                               sampling_strategy='auto').fit_resample(XTrain,yTrain)
# Checking the
Counter(yResampled)

Counter({'low_risk': 51352, 'high_risk': 51352})

In [21]:
# Using logistic Regression model to make predictions
modelSMOTE = LogisticRegression(solver='lbfgs', random_state=1)
modelSMOTE.fit(XResampledSMOTE,yResampledSMOTE)

LogisticRegression(random_state=1)

In [22]:
# Viewing modelSMOTE balanced_accuracy_score
yPredSMOTE = modelSMOTE.predict(XTest)
balanced_accuracy_score(yTest,yPredSMOTE)

0.6382372255862956

In [37]:
# Displaying Confusion matrix
pd.DataFrame(confusion_matrix(yTest,yPredSMOTE),index=['Actually True', 'Actually False'], columns=['Predicted True', 'Predicted False'])

                Predicted True  Predicted False
Actually True               51               36
Actually False            5302            11816

In [24]:
# Displaying the imbalanced classification report
print(classification_report_imbalanced(yTest,yPredSMOTE))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.59      0.69      0.02      0.64      0.40        87
   low_risk       1.00      0.69      0.59      0.82      0.64      0.41     17118

avg / total       0.99      0.69      0.59      0.81      0.64      0.41     17205

# ClusterCentroids Undersampling
### Method that under samples the majority class by replacing a cluster of majority samples by the cluster centroid of a KMeans algorithm. This algorithm keeps N majority samples by fitting the KMeans algorithm with N cluster to the majority class and using the coordinates of the N cluster centroids as the new majority samples.

In [25]:
# Resampling the data using "ClusterCentroids" undersampling technique
from imblearn.under_sampling import ClusterCentroids

cc = ClusterCentroids(random_state=1)

XResampledCC, yResampledCC = cc.fit_resample(XTrain,yTrain)

Counter(yResampledCC)

Counter({'high_risk': 260, 'low_risk': 260})

In [26]:
# # Using logistic Regression model to make predictions
modelCC = LogisticRegression(solver='lbfgs', random_state=1)
modelCC.fit(XResampledCC,yResampledCC)

LogisticRegression(random_state=1)

In [36]:
# Displaying the confusion matrix
yPredCC = modelCC.predict(XTest)
pd.DataFrame(confusion_matrix(yTest,yPredCC),index=['Actually True', 'Actually False'], columns=['Predicted True', 'Predicted False'])

                Predicted True  Predicted False
Actually True               50               37
Actually False            9238             7880

In [28]:
# Viewing modelSMOTE balanced_accuracy_score

balanced_accuracy_score(yTest,yPredCC)

0.5175233974320236

In [29]:
# displaying imbalanced classification report
print(classification_report_imbalanced(yTest,yPredCC))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.57      0.46      0.01      0.51      0.27        87
   low_risk       1.00      0.46      0.57      0.63      0.51      0.26     17118

avg / total       0.99      0.46      0.57      0.63      0.51      0.26     17205

# SMOTEENN
### Over-sampling using SMOTE and cleaning using ENN. Combine over- and under-sampling using SMOTE and Edited Nearest Neighbours.

In [30]:
# Using SMOTEENN to resample the data
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
XResampledENN, yResampledENN = smote_enn.fit_resample(X,y)
Counter(yResampledENN)

Counter({'high_risk': 68460, 'low_risk': 62011})

In [31]:
# Fit a Logistic regression model using SMOTEENN sampling data
modelENN = LogisticRegression(solver='lbfgs', random_state=1)
modelENN.fit(XResampledENN,yResampledENN)

LogisticRegression(random_state=1)

In [35]:
# Displaying confusion matrix
yPredENN = modelENN.predict(XTest)
pd.DataFrame(confusion_matrix(yTest, yPredENN),index=['Actually True', 'Actually False'], columns=['Predicted True', 'Predicted False'])

                Predicted True  Predicted False
Actually True               63               24
Actually False            6850            10268

In [33]:
# Displaying Balanced Accuracy score
balanced_accuracy_score(yTest,yPredENN)

0.6619871802619546

In [34]:
# Displaying the imbalanced classification report
print(classification_report_imbalanced(yTest,yPredENN))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.72      0.60      0.02      0.66      0.44        87
   low_risk       1.00      0.60      0.72      0.75      0.66      0.43     17118

avg / total       0.99      0.60      0.72      0.75      0.66      0.43     17205